.stopwatch {
  min-height: calc(100vh - 90px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.stopwatch h1 {
  margin: 0;
  font-size: 66px;
  color: #9dafb6;
  font-weight: bold;

}

.stopwatch p {
  margin: 10px 0 40px;
  color: #f2dc0d;
  font-weight: bold;
}

.timer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.time-box {
  width: 150px;
  height: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
}

.number {
  font-size: 55px;
  font-weight: 600;
  color: white;
}

.time-box span {
  margin-top: 5px;
  color: #8995aa;
  font-size: 13px;
  text-transform: uppercase;
}

.colon {
  font-size: 45px;
  color: #667ff0;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.buttons button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.start {
  background: #667ff0;
  color: white;
}

.pause,
.reset {
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

.buttons button:hover {
  opacity: 0.85;
}
  .time-box.paused {
  background: rgba(255, 0, 0, 0.25);
  border-color: rgb(137, 4, 4);
  }

@media (max-width: 768px) {

  .stopwatch {
    min-height: calc(100vh - 70px);
    padding: 30px 10px;
  }

  .stopwatch h1 {
    font-size: 42px;
    text-align: center;
  }

  .stopwatch p {
    font-size: 14px;
    text-align: center;
    margin: 10px 0 40px;
  }

  .timer {
    width: 100%;
    justify-content: center;
    gap: 6px;
  }

  .time-box {
    width: 28vw;
    height: 130px;
    border-radius: 16px;
  }

  .number {
    font-size: 42px;
  }

  .time-box span {
    font-size: 11px;
  }

  .colon {
    font-size: 35px;
  }

  .buttons {
    margin-top: 40px;
    gap: 10px;
  }

  .buttons button {
    padding: 13px 20px;
    font-size: 14px;
  }

}