
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}

app-root,
app-header {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
